<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNgryr6Bt4kVSgB0XpH4vqqs-60xH2EDU</string>
	<key>GCM_SENDER_ID</key>
	<string>285943674949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesodev1.mfrastreamento</string>
	<key>PROJECT_ID</key>
	<string>mf-rastreamento-9317b</string>
	<key>STORAGE_BUCKET</key>
	<string>mf-rastreamento-9317b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285943674949:ios:41a05e35e3b8be12104b2c</string>
</dict>
</plist>